MVVM_FIRST/Connected Services/ServiceReference/Service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/MVVM_FIRST.Model" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/MVVM_FIRST.Model" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfEnterprise">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Enterprise" nillable="true" type="tns:Enterprise" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfEnterprise" nillable="true" type="tns:ArrayOfEnterprise" />
  <xs:complexType name="Enterprise">
    <xs:sequence>
      <xs:element minOccurs="0" name="Domaine" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Location" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Enterprise" nillable="true" type="tns:Enterprise" />
</xs:schema>