MVVM_FIRST/Connected Services/ServiceReference/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://Microsoft.ServiceModel.Samples" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://Microsoft.ServiceModel.Samples" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://Microsoft.ServiceModel.Samples/Imports">
      <xsd:import schemaLocation="http://localhost:8090/SDK/Service/Service?xsd=xsd0" namespace="http://Microsoft.ServiceModel.Samples" />
      <xsd:import schemaLocation="http://localhost:8090/SDK/Service/Service?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8090/SDK/Service/Service?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/MVVM_FIRST.Model" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService_Add_InputMessage">
    <wsdl:part name="parameters" element="tns:Add" />
  </wsdl:message>
  <wsdl:message name="IService_Add_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddResponse" />
  </wsdl:message>
  <wsdl:message name="IService_GetEnterprises_InputMessage">
    <wsdl:part name="parameters" element="tns:GetEnterprises" />
  </wsdl:message>
  <wsdl:message name="IService_GetEnterprises_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetEnterprisesResponse" />
  </wsdl:message>
  <wsdl:portType name="IService">
    <wsdl:operation name="Add">
      <wsdl:input wsaw:Action="http://Microsoft.ServiceModel.Samples/IService/Add" message="tns:IService_Add_InputMessage" />
      <wsdl:output wsaw:Action="http://Microsoft.ServiceModel.Samples/IService/AddResponse" message="tns:IService_Add_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetEnterprises">
      <wsdl:input wsaw:Action="http://Microsoft.ServiceModel.Samples/IService/GetEnterprises" message="tns:IService_GetEnterprises_InputMessage" />
      <wsdl:output wsaw:Action="http://Microsoft.ServiceModel.Samples/IService/GetEnterprisesResponse" message="tns:IService_GetEnterprises_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>